variables:
  UV_VERSION: "0.9.8"
  PYTHON_VERSION: "3.10"
  BASE_LAYER: bookworm-slim
  UV_LINK_MODE: copy
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.uvcache"

image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER

cache:
  key:
    files:
      - uv.lock
  paths:
    - $UV_CACHE_DIR

stages:
  - test
  - build
  - publish

before_script: &before_script
  - uv sync

after_script: &after_script
  - uv cache prune --ci

.rule_templates:
  merge_request: &merge_request
    if: $CI_PIPELINE_SOURCE == "merge_request_event"
  main_branch: &main_branch
    if: $CI_COMMIT_BRANCH == "main"

unit-tests:
  stage: test
  script:
    - uv run pytest --cov=src --cov-report=xml --cov-report=term --junitxml=test_report.xml
  rules:
    - *main_branch
    - *merge_request
  coverage: /TOTAL.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    reports:
      junit: test_report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
    expire_in: 2 days

ruff-lint:
  stage: test
  allow_failure: true
  script:
    - uvx ruff check --output-format=gitlab | tee ruff_report.json
  rules:
    - *merge_request
  artifacts:
    when: always
    reports:
      codequality: ruff_report.json
    expire_in: 2 days

pyright:
  stage: test
  allow_failure: true
  before_script:
    - *before_script
    - apt-get update
    - apt-get install -y libatomic1
  script:
    - uv run --with pyright pyright --outputjson | tee report_raw.json
  after_script:
    - uvx pyright-to-gitlab-ci --src report_raw.json --output pyright_report.json --base_path .
    - *after_script
  rules:
    - *merge_request
  artifacts:
    when: always
    reports:
      codequality: pyright_report.json
    expire_in: 2 days

build-package:
  stage: build
  when: manual
  script:
    - uv build
  rules:
    - *main_branch
  artifacts:
    paths:
      - dist/
    expire_in: 2 days

publish-package-test:
  stage: publish
  needs: [build-package]
  script:
    - uv publish --index testpypi
  id_tokens:
    TESTPYPI_ID_TOKEN:
      aud: testpypi
  rules:
    - *main_branch
  dependencies:
    - build-package